/* @import "./reset.css"; */
@import "./typography.css";


/* Section */
@import "./sections/hero.css";
@import "./sections/projets.css";


/* Components */
@import "./components/button.css";
@import "./components/card.css";


/* modules */
@import "./modules/navbar.css";

:root {
  --font-serif: "Kate", serif;
  --font-sans: "inter", sans-serif;

  --text-base: 16px;
  --space-base: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-large: 8rem;


  /* Background & Color */
  --accent: #903C02;
  --secondary: #0A6365;
  --background: rgb(234, 229, 223);
  --foreground: rgba(50, 32, 24, 0.9);
  --foreground-muted: rgba(50, 32, 24, 0.4);

  /*  */
  --text-xs: 10px;
  --text-sm: 14px;
  --text-xl: 52px;


  /*  */
  --leading: 1;


  /* NavBar */
  --navbar-height: 5.625rem;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: start;
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
}

main {
  padding-inline: var(--space-base);
}

@media only screen and (min-width: 700px) {
  main {
    margin: 0 auto;
    padding-inline: var(--space-large);
    max-width: 1800px;
  }
}